body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:791px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u0 {
  position:absolute;
  left:358px;
  top:182px;
  width:433px;
  height:94px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:72px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  white-space:nowrap;
}
#u2_img {
  position:absolute;
  left:-2px;
  top:-13px;
  width:215px;
  height:31px;
}
#u2 {
  position:absolute;
  left:475px;
  top:321px;
  width:200px;
  height:5px;
  font-size:28px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:296px;
}
#u4 {
  position:absolute;
  left:16px;
  top:81px;
  width:313px;
  height:296px;
}
#u4_img.mouseOver {
}
#u4.mouseOver {
}
#u5 {
  position:absolute;
  left:2px;
  top:140px;
  width:309px;
  visibility:hidden;
  word-wrap:break-word;
}
